*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cells{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 1000px;
    margin: auto;
    background-color: grey;
}

main .cell{
    display: flex;
    text-align: center;
    color: white;
    border: 2px solid black;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
}

.selected{
    background-color: aqua;
}